<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="EmployeeService">
       <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
       <jta-data-source>java:/MySqlDS</jta-data-source> 
       <class>jpa.Employee</class>

       <properties>
          <!-- Note jboss.as.jpa.providerModule property is very important -->
          <property name="jboss.as.jpa.providerModule" value="org.eclipse.persistence.jpa" />
       </properties>
  </persistence-unit>
</persistence>



